.vaccination-by-coverage-container {
    display: flex;
    flex-direction: column;
    background-color: #1c1c2b;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .vaccination-by-coverage-heading {
    color:white;
    font-family: 'roboto';
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
  }
  